<script context="module">
  // export const hydrate = false // about pages dont need it!
</script>

# About j10n

한국에서 백엔드 개발자로 일합니다.

간결하고 읽기 쉬운 코드를 작성하는 것에 관심이 많습니다.
반복하는 일을 자동화하여 효율을 높이는 것을 좋아합니다.

[Resume](/resume)